<%- include('../partials/header') %> 

<main>
    <div id='photo-div'>
        <img id='large-photo' src=<%= photo.address %> alt="img"></img>
        <% for (let i = 0; i < photo.pins.length; i++) { %>
            <div class='pin' style="left: <%= photo.pins[i].coords[0] %>%; top: <%= photo.pins[i].coords[1] %>%;" ><input class='photoId' value="<%= photo._id %>" type="hidden"><input class='pinId' value="<%= photo.pins[i]._id %>" type="hidden"></div>
        <% } %>
        <div class="posts">
            <!-- <button class="delete-btn" method="POST"></button> -->
            <h3></h3>
            <p></p>
        </div>

        <form id="new-post" action="/photos/<%= photo._id %>" method="POST">
            <label>Title: </label>
            <input type="text" name="title">
            <br>
            <label>Content:</label>
            <textarea type="text" name="content"></textarea>
            <input id="coords-input" name="coords" type="hidden">
            <button type="submit" value="New Post">Add</button>
        </form>
    </div>
    
</main>

<%- include('../partials/footer') %>